body {
    height: 100vh;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
}
/*Header/Nav section.*/
.nav-section {
    background-color: rgb(34, 34, 34);
    display: flex;
}
.logo {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 100px;
    padding: 12px 0;
}
a {
    font-size: 12px;
    color: lightslategray;
    text-decoration: none;
}
.nav-links {
    display: flex;
    flex: 1;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 150px;


}

/*Section 1.*/
.section-1 {
    background-color: #1f2937;
    display: flex;
    height: 525px;
}
.section-1-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px 0 100px 100px;
}
.section-1-header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.section-1-text {
    font-size: 18px;
    color: #E5E7EB;

}
.section-1-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 100px 100px 0;
}
.section-1-main,
.section-1-image {
    flex: 1;
}
.section-1-button,
button {
    background-color: cornflowerblue;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 3px 8px;
}

/*Section 2*/
.section-2 {
    display: flex;
    flex-direction: column;
}
.section-2-header {
    text-align: center;
    margin: 30px 0;
    font-size: 25px;
    font-weight: bolder;
}
.section-2-images {
    display: flex;
    justify-content:center;
    flex: 1;
    flex-wrap: wrap;
    margin: 0 0 85px 0;
}
.section-2 img {
    border: 3px solid cornflowerblue;
    border-radius: 8px;
    padding: 40px;
    height: 150px;
    width: 150px;
    margin: 0 -25px;
}
.section-2 figcaption {
    margin-top: 8px;
    width: 150px;
    text-align: center;
    margin: 0 -25px;
}


/*Section 3*/
.section-3 {
    background-color: #E5E7EB;
}
.section-3 blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    padding: 100px;
}
.section-3 p {
    font-size: 20px;
    font-weight: bolder;
    margin: -135px 0 100px 672px;

}

/*Section 4*/
.section-4 {
    display: flex;
    background-color: cornflowerblue;
    border: 2px;
    border-radius: 2px;

}

.section-4-text {
    color: white;
    margin-left: 180px;
    font-weight: lighter;

}
.section-4 span {
    font-size: 18px;
    font-weight: bold;
    
}
.section-4 button {
    border: 1px solid white;
    margin: 20px 0 20px 140px;
}

/*Footer.*/
.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: 100;
}
